In [7]:
# Importing the Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [9]:
df = pd.read_csv("winequality-red.csv")
df.head()

                                                                                                                                            <<<<<<< HEAD
fixed acidity volatile acidity citric acid residual sugar chlorides free sulfur dioxide total sulfur dioxide density pH   sulphates alcohol      quality
7.4           0.7              0           1.9            0.076     11                  34                   0.9978  3.51 0.56      9.4                5
7.8           0.88             0           2.6            0.098     25                  67                   0.9968  3.2  0.68      9.8                5
              0.76             0.04        2.3            0.092     15                  54                   0.997   3.26 0.65      9.8                5
11.2          0.28             0.56        1.9            0.075     17                  60                   0.998   3.16 0.58      9.8                6

In [13]:
df.info(10)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3196 entries, ('fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol') to ('>>>>>>> d5476b7cd4de08df678e59b7e4250b2117061f02', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   <<<<<<< HEAD  3194 non-null   object
dtypes: object(1)
memory usage: 126.1+ KB

In [14]:
df.describe()

       <<<<<<< HEAD
count          3194
unique            7
top               5
freq           1360